<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="resources/Assets/GG-corto.ico" class="rel">
    <link rel="stylesheet" href="resources/css/normalize.css"/>
    <link rel="stylesheet" href="resources/css/style.css"/>
    <title>ADMIN | Students</title>
</head>
<body class="hidden">
    <!- Inicio del Header ->
    <header class="header">
        <nav class="nav">
          <a href="home" class="logo nav-link">
            <img class="logo-icon" src="resources/Assets/logo-cor.png" alt="Gary Goodsped">
          </a>
          <button class="nav-toggle" aria-label="Abrir menú">
            <i class="fas fa-bars"></i>
          </button>
          <ul class="nav-menu">
            <li class="nav-menu-item">
              <a href="land" class="nav-menu-link nav-link">Inicio</a>
            </li>
            <li class="nav-menu-item">
              <a href="login" class="nav-menu-link nav-link">Autogestión</a>
            </li>
            <li class="nav-menu-item">
              <a href="#" class="nav-menu-link nav-link">Sobre nosotros</a>
            </li>
            <li class="nav-menu-item">
              <a href="#" class="nav-menu-link nav-link nav-menu-link_active"
                >Contactanos</a
              >
            </li>
          </ul>
        </nav>
      </header>
    <!- Fin del Header ->
      
    <!- Menú Lateral Desplegable ->
      <div id="sidemenu" class="menu-collapsed">
        <!- Header ->
        <div id="header">
          <div id="menu-btn">
            <div class="btn-hamburger"></div>
            <div class="btn-hamburger"></div>
            <div class="btn-hamburger"></div>
          </div>
          <div id="title"><span>Gary Goodsped</span></div>
        </div>
    
        <!- PERFIL ->
        <div id="profile">
          <div id="photo"><img src="resources/Assets/01-ADMIN.png" alt="Usuario"></div>
          <div id="name">
            <span>ADMIN</span>
            <div class="icon-edit">
              <a href="profile">
                <img class="EditIcon" src="resources/Assets/EditIcon.svg" alt="Edit Profile">
              </a>
            </div>
          </div>
        </div>
  
        <!- ITEMS ->
        <div id="menu-items">
          <div class="item">
            <a href="Admin%Students" id="Btn0">
              <div class="icon first-icon">
                <img src="resources/Assets/10-HOME.png" alt="Materias">
              </div>
              <div class="title">
                <span>Home</span>
              </div>
            </a>
          </div>

          <div class="item separator"></div>

          <div class="item">
            <a href="Admin%Add%Student" id="Btn1">
              <div class="icon">
                <img src="resources/Assets/add-usr.png" alt="Materias">
              </div>
              <div class="title">
                <span>Agregar</span>
              </div>
            </a>
          </div>

          <div class="item separator"></div>
  
          <div class="item">
            <a href="Admin%Edit%Student" id='Btn2'>
              <div class="icon">
                <img src="resources/Assets/usr-edit.png" alt="Materias">
              </div>
              <div class="title">
                <span>Modificar</span>
              </div>
            </a>
          </div>
  
          <div class="item separator"></div>
  
          <div class="item">
            <a href="Admin%Remove%Student" id="Btn3">
              <div class="icon">
                <img src="resources/Assets/remove-usr.png" alt="">
              </div>
              <div class="title">
                <span>Eliminar</span>
              </div>
            </a>
          </div>

          <div class="item separator"></div>
  
          <div class="item close">
            <a class="exitLink" href="login">
              <div class="icon">
                <img class="ExitIcon" src="resources/Assets/exit.png" alt="Cerrar Sesión" style="width: 25px;">
              </div>
              <div class="title ">
                <span class="exitText">Cerrar Sesión</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    <!- Fin Menú Lateral Desplegable ->

    <div class="edit-container">
        <form action="/editStudent" method="post" class="form-Edit-s" >
            <span class="Edit-tittle">EDITAR ALUMNO</span>
            <div class="Edit-t-container">
                <div class="Edit-l-container">
                    <div class="group-name">
                      <span class="Edit-span name-txt">Nombre:</span>
                      <input class="edit_name" name="edit_name" type="text" placeholder="Ingrese el/los Nombres" required>
                    </div>

                    <div class="group-surname">
                      <span class="Edit-span surname-txt">Apellido:</span>
                      <input class="edit_surname" name="edit_surname" type="text" placeholder="Ingrese el/los Apellidos" required>
                    </div>

                    <div class="group-addres">
                        <span class="Edit-span addres-txt">Dirección:</span>
                        <input class="edit_addres" name="edit_addres" type="text" placeholder="Ingrese la Dirección" required>
                    </div>

                    <div class="group-gender">
                        <span class="Edit-span gender-txt">Género:</span>
                        <select name="edit_gender" class="edit_gender" id="edit_gender">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>

                <div class="Edit-r-container">
                    <div class="group-search">
                      <div class="divEdit-span"><span class="Edit-span name-txt">DNI:</span></div>
                      <input class="edit_name" name="edit_name" type="search" placeholder="Ingrese el DNI" required>
                      <button>Buscar</button>
                    </div>

                    <div class="group-date">
                        <span class="Edit-span date-txt">Fecha Nacimiento:</span>
                        <input class="edit_date" name="edit_date" type="date" required>
                    </div>

                    <div class="group-surname">
                        <span class="Edit-span surname-txt">Apellido:</span>
                        <input class="edit_surname" name="edit_surname" type="text" placeholder="Ingrese el/los Apellidos" required>
                    </div>

                    <div class="AS-course">
                        <div class="group-course">
                            <span class="Edit-span course-txt">Curso:</span>
                            <select name="edit_course" class="edit_course" id="course-input">
                                <option value="1">Primer Año</option>
                                <option value="2">Segundo Año</option>
                                <option value="3">Tercer Año</option>
                                <option value="4">Cuarto Año</option>
                                <option value="5">Quinto Año</option>
                                <option value="6">Sexto Año</option>
                                <option value="7">Séptimo Año</option>
                            </select>
                            <span class="Edit-span course-divition">División:</span>
                            <select name="edit_divition" class="edit_divition" id="divition-input">
                                <option value="1">A</option>
                                <option value="2">B</option>
                                <option value="3">C</option>
                            </select>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="Edit-b-container">
                <input class="btn-cancel" type="button" value="Cancelar">
                <input class="btn-save" type="submit" value="Guardar">
            </div>
        </form>
    </div>
    <script src="resources/js/main.js"></script>
    
    <% if(typeof alert != "undefined") { %>
      <script>
        Swal.fire({
          title: '<%= alertTitle %>',
          text: '<%= alertMessage %>',
          icon: '<%= alertIcon %>',
          showConfirmButton: '<=% showConfirmButton%>',
          timer: '<%= timer %>'
        }).then(()=>{
          window.location='/<%= ruta %>'
        })
      </script>
      <script>
        Swal.fire({
          title: '¿Estás seguro de hacer estos cambios?',
          showDenyButton: true,
          showCancelButton: true,
          confirmButtonText: 'Guardar',
          denyButtonText: `No Guardar`,
        }).then((result) => {
          /* Read more about isConfirmed, isDenied below */
          if (result.isConfirmed) {
            Swal.fire('¡Guardado!', '', 'success')
          } else if (result.isDenied) {
            Swal.fire('Los cambios no se guardaron', '', 'info')
          }
        })
      </script>
      <% } %>
</body>
</html>

